.container-fluid {
    padding-inline: 0;
    min-width: 384px;
}

.navbar {
    padding: 0px !important;
    height: 95px !important;
}

.navbar-nav {
    margin-left: auto;
    justify-content: space-between;
    width: 100%;
    min-width: 438px;
}

.nothing-left {
    width: 50%;
}

.nothing-right {
    width: 5%;
}

nav div button {
    margin-right: 1rem;
}

@media (max-width: 992px) {
    .navbar-collapse {
        background-color: #ffffff;
    }
    .container-fluid {
        height: 95px;
    }
    
    img {
        margin-left: 12px;
        width: 95px;
        height: 96px;
        transform: scale(1.26);
    }
}