* {
    font-family: 'Inter', sans-serif;
}

#logo {
    display: flex;
    flex-direction: row;  
    align-items: center;   
    font-weight: bold;
    font-style: italic;
}   

header a {
    font-size: 20px;
    color: black;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    margin-right: 3% !important;
    padding: 0.5%;
    border-radius: 15px; 
    transition: background-color 0.2s ease;
}

header a:hover {
    background-color: #D9D9D9 !important;
    color: black !important;
}

#wrapper {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.nbr.active {
    transform: scale(1.3);
    transition: transform 0.2s;
}

.section {
    display: none;
}

.section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reponse-btn {
    padding: 14px 20px;
    border-radius: 12px;
    background-color: white;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: default;
    border-top: 1px solid #ddd;
    border-right: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
    border-left: 1px solid #ddd;
}

.reponse-btn.correcte {
    border-color: #4CAF50;
    background-color: white;
    color: #000;
}

.reponse-btn.incorrecte {
    border-color: #e53935;
    background-color: white;
    color: #000;
}

#score {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 30px 0;
}

#ppp{
    margin-top: 2%;
    font-size: 140%;
}